<%- include('partials/header.ejs') %>

<div class="container my-4">
  <p class="my-4 fs-4">
      Use 
     
  </p>
  <input type="text" name="" id="" value="/api/generate" class="fs-2 form-control py-2 my-4 text-center
  " readonly >

 
    <p class="fs-4 my-3">  With website link <code><%= url %></code>  </p>
  <p class="fs-4 my-3"> To get the generated ID in JSON format</p>
</div>